body {
    background-color: #0a595c;
    color: rgb(5, 75, 75);
}

header {
    background-color: #85e9ec;
    display: flex;
    margin: 5px;
    padding: 5px;
    grid-area: g_area_header;
 
}

main {
    margin: 5px;
    padding: 5px;
    grid-area: g_area_main;
    background-color: #36d4da;
}
.menu{
    display: flex;
    justify-content: center;
}
aside {
    margin: 5px;
    padding: 5px;
    grid-area: g_area_aside;
    background-color: #08b8be;
}

.grid-container {
    margin: 5px;
    padding: 5px;
    display: grid;
    background-color: #2d9497;
    width: 100%;
    max-width: 1280px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas:
        /*6 kolumner*/
        "g_area_header g_area_header g_area_header g_area_header g_area_header g_area_header"
        "g_area_main g_area_main g_area_main g_area_main g_area_aside g_area_aside"

    ;
}

.content-actual {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: #0caaa2;
    width: 100%;
    justify-content: center;
}

.divider {
    background-color: #fdb8fd;
    height: 3px;
}

.assignment-1 {
    margin: 5px;
    padding: 5px;
    display: grid;
    background-color: #fdb8fd;
    max-width: 300px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 150px;
    grid-template-areas:
        "g_area_top g_area_top g_area_top g_area_top g_area_top g_area_top"
        "g_area_main1 g_area_main1 g_area_main1 g_area_main1 g_area_sidebar g_area_sidebar"
    ;
}

.top {
    margin: 5px;
    padding: 5px;
    background-color: #f594f5;
    display: flex;
    grid-area: g_area_top;
}

.main-1 {
    margin: 5px;
    padding: 5px;
    background-color: #e26be2;
    display: flex;
    grid-area: g_area_main1;
}

.sidebar {
    margin: 5px;
    padding: 5px;
    background-color: #c949c9;
    display: flex;
    grid-area: g_area_sidebar;
}

.divider-2 {
    background-color: yellowgreen;
    height: 3px;
}

